<form class="needs-validation" novalidate id="event" method="POST" action="/signup">
    <input type="hidden" name='typè' value="artist" />
    <div class="d-flex flex-column">
        <div class="col-md-4 mb-3">
            <label for="validationCustom01">Nombre del evento</label>
            <input type="text" class="form-control" id="validationCustom011" placeholder="Concierto en 
            ..." value="Concierto en" name="name" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <label for="validationCustom02">Last name</label>
            <input type="text" class="form-control" id="validationCustom022" placeholder="Last name" name="lastname" value="Otto" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail11" aria-describedby="emailHelp" name="email" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="col-md4 mb-3">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword11" placeholder="Password" name="password">
        </div>
    </div>
    <div class="d-flex flex-column">
        <div class="col-md-6 mb-3">
            <label for="validationCustom03">City</label>
            <input type="text" class="form-control" id="validationCustom031" placeholder="City" name="city" required>
            <div class="invalid-feedback">
                Please provide a valid city.
            </div>
        </div>

    </div>
    <div class="d-flex flex-column">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="invalidCheck1" required>
            <label class="form-check-label" for="invalidCheck">
                Agree to terms and conditions
            </label>
            <div class="invalid-feedback">
                You must agree before submitting.
            </div>
        </div>
    </div>
    <div>
        <span class="badge badge-pill badge-primary" style="padding: 0.5em;font-size: 20px">ROCK</span>
        <span class="badge badge-pill badge-secondary" style="padding: 0.5em;font-size: 20px">INDIE</span>
        <span class="badge badge-pill badge-success" style="padding: 0.5em;font-size: 20px">POP</span>
        {{!--
        <span class="badge badge-pill badge-danger" style="padding: 0.5em;font-size: 20px">ELECTRO</span>
        <span class="badge badge-pill badge-warning" style="padding: 0.5em;font-size: 20px">CLASSIC</span>
        <span class="badge badge-pill badge-info" style="padding: 0.5em;font-size: 20px">FLAMENCO</span> --}}
        <span class="badge badge-pill badge-light" style="padding: 0.5em;font-size: 20px">RAP</span>
        <span class="badge badge-pill badge-dark" style="padding: 0.5em;font-size: 20px">REGGAETON</span>
    </div>
    <button class="btn btn-primary" type="submit">Submit form</button>
</form>