<form class="needs-validation" novalidate id="event" method="POST" action="/events/create">
    <input type="hidden" name='typè' value="artist" />
    <div class="d-flex flex-column">
        <div class="col-md-4 mb-3">
            <label for="validationCustom01">Nombre del evento</label>
            <input type="text" class="form-control" id="nameEvent" placeholder="Concierto en 
            ..." value="Concierto en" name="name" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>

        <div class="col-md-4 mb-3">
            <label for="validationCustom02">Fecha</label>
            <input type="text" id="dtpicker" name="datetime"/>
        </div>


    </div>
    <div class="d-flex flex-column">
        <div class="col-md-6 mb-3">
            <label for="validationCustom03">Dirección</label>
            <input type="text" class="form-control" id="address" placeholder="Calle..." name="address" readonly>
            <div class="invalid-feedback">
                Please provide a valid city.
            </div>
        </div>
    </div>
    <div class="d-flex flex-column">
        <div class="col-md-6 mb-3">
            <label for="validationCustom04">Ciudad</label>
            <input type="text" class="form-control" id="city" placeholder="City" name="city" readonly>
            <div class="invalid-feedback">
                Please provide a valid city.
            </div>
        </div>
    </div>

    <div>
        <input type="text" name="long" id="long" style="display:none">
    </div>
    <div>
        <input type="text" name="lat" id="lat" style="display:none">
    </div>

    {{!-- <div>
        <span class="badge badge-pill badge-primary" style="padding: 0.5em;font-size: 20px">ROCK</span>
        <span class="badge badge-pill badge-secondary" style="padding: 0.5em;font-size: 20px">INDIE</span>
        <span class="badge badge-pill badge-success" style="padding: 0.5em;font-size: 20px">POP</span>
        
        <span class="badge badge-pill badge-danger" style="padding: 0.5em;font-size: 20px">ELECTRO</span>
        <span class="badge badge-pill badge-warning" style="padding: 0.5em;font-size: 20px">CLASSIC</span>
        <span class="badge badge-pill badge-info" style="padding: 0.5em;font-size: 20px">FLAMENCO</span> 
        <span class="badge badge-pill badge-light" style="padding: 0.5em;font-size: 20px">RAP</span>
        <span class="badge badge-pill badge-dark" style="padding: 0.5em;font-size: 20px">REGGAETON</span>
    </div> --}}

    <label>
        <input type="checkbox" name="genre" value="Rock" />Rock
        <span class="checkmark"></span>
    </label>
    <label>
        <input type="checkbox" name="genre" value="Techno" />Techno
        <span class="checkmark"></span>
    </label>
    <label>
        <input type="checkbox" name="genre" value="Metal" />Metal
        <span class="checkmark"></span>
    </label>
    <label>
        <input type="checkbox" name="genre" value="Prueba" />Prueba
        <span class="checkmark"></span>
    </label>
    <label>
        <input type="checkbox" name="genre" value="Indie" />Indie
        <span class="checkmark"></span>
    </label>
    <label>
        <input type="checkbox" name="genre" value="Pop" />Pop
        <span class="checkmark"></span>
    </label>
    <label>
        <input type="checkbox" name="genre" value="Classic" />Classic
        <span class="checkmark"></span>
    </label>
    <label>
        <input type="checkbox" name="genre" value="Flamenco" />Flamenco
        <span class="checkmark"></span>
    </label>

    <div>
        <div id="map">
            <div id="search"></div>
        </div>
    </div>

    <button class="btn btn-primary" type="submit">Create event</button>
</form>