
<div>
    <a class="btn btn-success mb-3" href="/events/create">Nuevo evento</a>
</div>

{{# each events as |event| }} 
    {{> profileartist/detailevent event=event user=../user }}
{{/each }}

<div id="mapArtist">
    <div id="searchArtist"></div>
</div>

<script src="/javascripts/showMapArtist.js"></script>

