<!DOCTYPE html>
<html>
  <head>

    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous">
    <link rel="stylesheet" href="https://js.arcgis.com/3.25/esri/css/esri.css">
    <link rel="stylesheet" href="/stylesheets/jquery.datetimepicker.min.css">
    <style>
      #search {
        display: block;
        position: absolute;
        z-index: 2;
        top: 600px;
        left: 74px;
      }

      #dtpicker {
        border: 1px solid gainsboro;
        padding: 6px;
        border-radius: 5px;
      }
    </style>

  </head>
  
  <body>
    
    {{#if currentUser}}
    <div>
      <nav class="navbar navbar-light bg-light sticky-top mb-5">
        <span class="navbar-brand mb-0 h1">Artistas</span>
    
        <small> {{ currentUser.email }}</small>
        <form method="post" action="/delete">
          <button type="submit" class="btn btn-sm btn-danger">Salir</button>
        </form>
        
      </nav>
    
    </div>
    {{/if }}


    {{{body}}}


    <script src="https://colorlib.com/etc/lf/Login_v17/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="/javascripts/jquery.datetimepicker.full.js"></script>
    <script src="/javascripts/dateConfig.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
    <script src="https://js.arcgis.com/3.25/"></script>
    <script src="/javascripts/main.js"></script>
    <script>

      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('js', new Date());

      gtag('config', 'UA-23581568-13');

      function showFormVis() {
          if (document.getElementById("VIS").style.display === "none") {
            document.getElementById("VIS").style.display = "block";
            document.getElementById("VIP").style.display = "none";
          }
        }

        function showFormVip() {
          if (document.getElementById("VIP").style.display === "none") {
            document.getElementById("VIP").style.display = "block";
            document.getElementById("VIS").style.display = "none";
          }
        }

        require([

          "esri/map",
          "esri/dijit/Search",
          "dojo/on",
          "dojo/domReady!"

        ], function (Map, Search, on) {
          var map = new Map("map", {
            basemap: "gray",
            center: [-120.435, 46.159], // lon, lat
            zoom: 7
          });

          var search = new Search({
            map: map
          }, "search");
          search.startup();

          on(search, 'select-result', function (e) {
            let address = e.result.feature.attributes.StAddr;
            let city = e.result.feature.attributes.City
            let x = e.result.feature.geometry.x;
            let y = e.result.feature.geometry.y;


              document.getElementById('address').value = address;
            document.getElementById('city').value = city;
          });

        });

    </script>
  </body>
</html>
