<!DOCTYPE html>
<html>
  <head>

    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous">
    <link rel="stylesheet" href="https://js.arcgis.com/3.25/esri/css/esri.css">
    <link rel="stylesheet" href="/stylesheets/jquery.datetimepicker.min.css">
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel="stylesheet" href="/stylesheets/demo.css">
    <link rel="stylesheet" href="/stylesheets/tabs.css">
    <link rel="stylesheet" href="/stylesheets/tabstyles.css">

    <style>
      #search {
        display: block;
        position: absolute;
        z-index: 2;
        top: 600px;
        left: 74px;
      }

      #dtpicker {
        border: 1px solid gainsboro;
        padding: 6px;
        border-radius: 5px;
      }
    </style>

  </head>
  
  <body>
    
    {{#if currentUser}}
    <div>
      <nav class="navbar navbar-light bg-light sticky-top mb-5">
        {{#if currentUser }}
          <span class="navbar-brand mb-0 h1">{{ currentUser.name }} </span>
        {{/if }}
         
        <small> {{ currentUser.email }}</small>
        <form method="post" action="/delete">
          <button type="submit" class="btn btn-sm btn-danger">Salir</button>
        </form>
        
      </nav>
    
    </div>
    {{/if }}


    {{{body}}}

    {{#if currentUser }}
      <div id="map">
        <div id="search"></div>
      </div>
    {{/if }}


    <script src="https://colorlib.com/etc/lf/Login_v17/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="/javascripts/jquery.datetimepicker.full.js"></script>
    <script src="/javascripts/dateConfig.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
    <script src="https://js.arcgis.com/3.25/"></script>
    {{!-- <script src="/javascripts/main.js"></script> --}}
    {{!-- <script src="/javascripts/showMapEvents.js"></script> --}}
    {{!-- <script src="/javascripts/cbpFWTabs.js"></script> --}}
    {{!-- <script src="/javascripts/modernizr.custom.js"></script> --}}
    <script>

      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('js', new Date());

      gtag('config', 'UA-23581568-13');

      function showFormVis() {
        // if (document.getElementById('section-linetriangle-2').style.display === "none") {
          document.getElementById('section-linetriangle-2').style.display = "block";
          document.getElementById('section-linetriangle-1').style.display = "none";
        // }
      }

      function showFormVip() {
        // if (document.getElementById('section-linetriangle-1').style.display === "none") {
          document.getElementById('section-linetriangle-1').style.display = "block";
          document.getElementById('section-linetriangle-2').style.display = "none";
        // }
      }

        require([
          "esri/map",
          "esri/dijit/Search",
          "esri/geometry/webMercatorUtils",
          "esri/symbols/SimpleMarkerSymbol",
          "esri/graphic",
          "esri/Color",
          "esri/geometry/Point",
          "dojo/on",
          "dojo/domReady!"
        ], function (Map, Search, webMercatorUtils, SimpleMarkerSymbol, Graphic, Color, Point, on) {
          var map = new Map("map", {
            basemap: "gray",
            center: [-120.435, 46.159], // lon, lat
            zoom: 7
          });

          var search = new Search({
            map: map
          }, "search");
          search.startup();

          on(search, 'select-result', function (e) {
            let address = e.result.feature.attributes.StAddr;
            let city = e.result.feature.attributes.City
            let value = webMercatorUtils.xyToLngLat(e.result.feature.geometry.x, e.result.feature.geometry.y, true);

            let lng = value[0];
            let lat = value[1];

            document.getElementById('address').value = address;
            document.getElementById('city').value = city;
            document.getElementById('long').value = lng;
            document.getElementById('lat').value = lat;
          });


          let lats = document.getElementsByName('lat1');
          let longs = document.getElementsByName('long1');
          console.log("Latitudes: "  + lats)

          var markerSymbol = new SimpleMarkerSymbol();
          markerSymbol.setPath("M16,4.938c-7.732,0-14,4.701-14,10.5c0,1.981,0.741,3.833,2.016,5.414L2,25.272l5.613-1.44c2.339,1.316,5.237,2.106,8.387,2.106c7.732,0,14-4.701,14-10.5S23.732,4.938,16,4.938zM16.868,21.375h-1.969v-1.889h1.969V21.375zM16.772,18.094h-1.777l-0.176-8.083h2.113L16.772,18.094z");
          markerSymbol.setColor(new Color("#00FFFF"));

          on(map, "load", function (evt) {
            console.log("Mapa: " + map)
            for (var i = 0; i < lats.length; i++) {
              map.graphics.add(new Graphic(new Point(longs[i], lats[i])), markerSymbol);
            }
          });


        });

    </script>
        {{!-- <script src="/javascripts/showMapEvents.js"></script> --}}

  </body>
</html>
