<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="https://colorlib.com/etc/lf/Login_v17/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="https://colorlib.com/etc/lf/Login_v17/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="https://colorlib.com/etc/lf/Login_v17/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="https://colorlib.com/etc/lf/Login_v17/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="https://colorlib.com/etc/lf/Login_v17/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="https://colorlib.com/etc/lf/Login_v17/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="https://colorlib.com/etc/lf/Login_v17/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="https://colorlib.com/etc/lf/Login_v17/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="https://colorlib.com/etc/lf/Login_v17/css/util.css">
    <link rel="stylesheet" type="text/css" href="https://colorlib.com/etc/lf/Login_v17/css/main.css">

  </head>
  <body>
    {{{body}}}


    <!--===============================================================================================-->
    <script src="https://colorlib.com/etc/lf/Login_v17/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="https://colorlib.com/etc/lf/Login_v17/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="https://colorlib.com/etc/lf/Login_v17/vendor/bootstrap/js/popper.js"></script>
    <script src="https://colorlib.com/etc/lf/Login_v17/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="https://colorlib.com/etc/lf/Login_v17/vendor/select2/select2.min.js"></script>
    <script>
      $(".selection-2").select2({
        minimumResultsForSearch: 20,
        dropdownParent: $('#dropDownSelect1')
      });
    </script>
    <!--===============================================================================================-->
    <script src="https://colorlib.com/etc/lf/Login_v17/vendor/daterangepicker/moment.min.js"></script>
    <script src="https://colorlib.com/etc/lf/Login_v17/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="https://colorlib.com/etc/lf/Login_v17/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="https://colorlib.com/etc/lf/Login_v17/js/main.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
    <script src="../public/javascripts/main.js"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('js', new Date());

      gtag('config', 'UA-23581568-13');

      function showFormVis() {
          if (document.getElementById("VIS").style.display === "none") {
            document.getElementById("VIS").style.display = "block";
            document.getElementById("VIP").style.display = "none";
          }
        }

        function showFormVip() {
          if (document.getElementById("VIP").style.display === "none") {
            document.getElementById("VIP").style.display = "block";
            document.getElementById("VIS").style.display = "none";
          }
        }

    </script>

  </body>
</html>
