<div>
    <button onclick="showFormVip()" class="login100-form-btn">
        VIP
    </button>
    <button onclick="showFormVis()" class="login100-form-btn">
        VIS
    </button>
</div>

<div>
    <form class="needs-validation" novalidate style="display:none" id="VIS" > 
        <div class="d-flex flex-column">
            <div class="col-md-4 mb-3">
                <label for="validationCustom01">First name</label>
                <input type="text" class="form-control" id="validationCustom01" placeholder="First name" value="Mark" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <label for="validationCustom02">Last name</label>
                <input type="text" class="form-control" id="validationCustom02" placeholder="Last name" value="Otto" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="col-md4 mb-3">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
        </div>
        <div class="d-flex flex-column">
            <div class="col-md-6 mb-3">
                <label for="validationCustom03">City</label>
                <input type="text" class="form-control" id="validationCustom03" placeholder="City" required>
                <div class="invalid-feedback">
                    Please provide a valid city.
                </div>
            </div>

        </div>
        <div class="d-flex flex-column">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                <label class="form-check-label" for="invalidCheck">
                    Agree to terms and conditions
                </label>
                <div class="invalid-feedback">
                    You must agree before submitting.
                </div>
            </div>
        </div>
    <div>
        <label>
            <input type="checkbox" name="genre2" value="Rock" />Rock
            <span class="checkmark"></span>
        </label>
        <label>
            <input type="checkbox" name="genre2" value="Techno" />Techno
            <span class="checkmark"></span>
        </label>
        <label>
            <input type="checkbox" name="genre2" value="Metal" />Metal
            <span class="checkmark"></span>
        </label>
        <label>
            <input type="checkbox" name="genre2" value="Indie" />Indie
            <span class="checkmark"></span>
        </label>
        <label>
            <input type="checkbox" name="genre2" value="Pop" />Pop
            <span class="checkmark"></span>
        </label>
        <label>
            <input type="checkbox" name="genre2" value="Classic" />Classic
            <span class="checkmark"></span>
        </label>
        <label>
            <input type="checkbox" name="genre2" value="Flamenco" />Flamenco
            <span class="checkmark"></span>
        </label>
    </div>
        <button class="btn btn-primary" type="submit">Submit form</button>
    </form>

    <form class="needs-validation" novalidate style="display:none" id="VIP">
        <div class="d-flex flex-column">
            <div class="col-md-4 mb-3">
                <label for="validationCustom01">First name</label>
                <input type="text" class="form-control" id="validationCustom011" placeholder="First name" value="Mark" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <label for="validationCustom02">Last name</label>
                <input type="text" class="form-control" id="validationCustom022" placeholder="Last name" value="Otto" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail11" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="col-md4 mb-3">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword11" placeholder="Password">
            </div>
        </div>
        <div class="d-flex flex-column">
            <div class="col-md-6 mb-3">
                <label for="validationCustom03">City</label>
                <input type="text" class="form-control" id="validationCustom031" placeholder="City" required>
                <div class="invalid-feedback">
                    Please provide a valid city.
                </div>
            </div>
    
        </div>
        <div class="d-flex flex-column">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="invalidCheck1" required>
                <label class="form-check-label" for="invalidCheck">
                    Agree to terms and conditions
                </label>
                <div class="invalid-feedback">
                    You must agree before submitting.
                </div>
            </div>
        </div>
    <div>
        <label>
            <input type="checkbox" name="genre" value="Rock" />Rock
            <span class="checkmark"></span>
        </label>
        <label>
            <input type="checkbox" name="genre" value="Techno" />Techno
            <span class="checkmark"></span>
        </label>
        <label>
            <input type="checkbox" name="genre" value="Metal" />Metal
            <span class="checkmark"></span>
        </label>
        <label>
            <input type="checkbox" name="genre" value="Prueba" />Prueba
            <span class="checkmark"></span>
        </label>
        <label>
            <input type="checkbox" name="genre" value="Indie" />Indie
            <span class="checkmark"></span>
        </label>
        <label>
            <input type="checkbox" name="genre" value="Pop" />Pop
            <span class="checkmark"></span>
        </label>
        <label>
            <input type="checkbox" name="genre" value="Classic" />Classic
            <span class="checkmark"></span>
        </label>
        <label>
            <input type="checkbox" name="genre" value="Flamenco" />Flamenco
            <span class="checkmark"></span>
        </label>
    </div>
        <button class="btn btn-primary" type="submit">Submit form</button>
    </form>

</div>

