
{{#each events as |event|}} 
    {{> profileartist/detailevent event=event user=../user}} 
{{/each }}

<h1>{{user.kind}}</h1>


<div id="map">
    <div id="search"></div>
</div>

<script src="/javascripts/main.js"></script>
