{{#each events as |event|}} 
    {{> profileartist/detailevent event=event user=../user}} 
{{/each }}

<h1>{{user.kind}}</h1>

{{!-- {{# showEventsMap events}} --}}
    {{!-- <div id="mapEvents">
        <div id="search2"></div>
    </div> --}}
{{!-- {{/showEventsMap}} --}}
{{!-- <script type="text/javascript" src="/javascripts/showMapEvents.js"></script> --}}