{{# each events as |event| }} 
    {{> profileartist/detailevent event }} 
{{/each }}

{{!-- <div id="mapEvents">
    <div id="search2"></div>
</div> --}}

{{!-- <script type="text/javascript" src="javascripts/showMapEvents.js"></script> --}}