
<div class="container"> 
    <section>

        <div class="tabs tabs-style-linetriangle">

            <nav>
                <ul>
                    <li onclick="showFormVip()">
                        <a href="javascript:void(0)">
                            <span>Artista</span>
                        </a>
                    </li>
                    <li onclick="showFormVis()">
                        <a href="javascript:void(0)">
                            <span>Usuario</span>
                        </a>
                    </li>
                </ul>
            </nav>

            <div class="content-wrap">
                <section id="section-linetriangle-1" style="display:none;">
                    <form class="needs-validation" novalidate style="display:block" id="VIP" method="POST" action="/signup">
                        <input type="hidden" name='type' value="artist" />
                        <div class="d-flex flex-column">
                            <div class="col-md-4 mb-3">
                                <label for="validationCustom01">Nombre artístico</label>
                                <input type="text" class="form-control" id="validationCustom01" name="name" placeholder="First name" value="Mark" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="validationCustom02">Last name</label>
                                <input type="text" class="form-control" id="validationCustom02" name="lastname" placeholder="Last name" value="Otto" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="exampleInputEmail1">Email address</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp" placeholder="Enter email">
                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                            </div>
                            <div class="col-md4 mb-3">
                                <label for="exampleInputPassword1">Password</label>
                                <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="Password">
                            </div>
                        </div>
                        <div class="d-flex flex-column">
                            <div class="col-md-6 mb-3">
                                <label for="validationCustom03">City</label>
                                <input type="text" class="form-control" id="validationCustom03" name="city" placeholder="City" required>
                                <div class="invalid-feedback">
                                    Please provide a valid city.
                                </div>
                            </div>
                    
                        </div>

                        <div>
                            <label>
                                <input type="checkbox" name="genre2" value="Rock" />Rock
                                <span class="checkmark"></span>
                            </label>
                            <label>
                                <input type="checkbox" name="genre2" value="Techno" />Techno
                                <span class="checkmark"></span>
                            </label>
                            <label>
                                <input type="checkbox" name="genre2" value="Metal" />Metal
                                <span class="checkmark"></span>
                            </label>
                            <label>
                                <input type="checkbox" name="genre2" value="Prueba" />Prueba
                                <span class="checkmark"></span>
                            </label>
                            <label>
                                <input type="checkbox" name="genre2" value="Indie" />Indie
                                <span class="checkmark"></span>
                            </label>
                            <label>
                                <input type="checkbox" name="genre2" value="Pop" />Pop
                                <span class="checkmark"></span>
                            </label>
                            <label>
                                <input type="checkbox" name="genre2" value="Classic" />Classic
                                <span class="checkmark"></span>
                            </label>
                            <label>
                                <input type="checkbox" name="genre2" value="Flamenco" />Flamenco
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <button class="btn btn-primary" type="submit">Submit form</button>
                    </form>
                </section>
                <section id="section-linetriangle-2" style="display: none;">
                    <form class="needs-validation" novalidate style="display:block" id="VIS" method="POST" action="/signup">
                        <input type="hidden" name='type' value="user" />
                        <div class="d-flex flex-column">
                            <div class="col-md-4 mb-3">
                                <label for="validationCustom01">First name</label>
                                <input type="text" class="form-control" id="validationCustom011" placeholder="First name" value="Mark" name="name" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="validationCustom02">Last name</label>
                                <input type="text" class="form-control" id="validationCustom022" placeholder="Last name" name="lastname" value="Otto" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="exampleInputEmail1">Email address</label>
                                <input type="email" class="form-control" id="exampleInputEmail11" aria-describedby="emailHelp" name="email" placeholder="Enter email">
                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                            </div>
                            <div class="col-md4 mb-3">
                                <label for="exampleInputPassword1">Password</label>
                                <input type="password" class="form-control" id="exampleInputPassword11" placeholder="Password" name="password">
                            </div>
                        </div>
                        <div class="d-flex flex-column">
                            <div class="col-md-6 mb-3">
                                <label for="validationCustom03">City</label>
                                <input type="text" class="form-control" id="validationCustom031" placeholder="City" name="city" required>
                                <div class="invalid-feedback">
                                    Please provide a valid city.
                                </div>
                            </div>
                        </div>

                        <div>
                            <label>
                                <input type="checkbox" name="genre" value="Rock" />Rock
                                <span class="checkmark"></span>
                            </label>
                            <label>
                                <input type="checkbox" name="genre" value="Techno" />Techno
                                <span class="checkmark"></span>
                            </label>
                            <label>
                                <input type="checkbox" name="genre" value="Metal" />Metal
                                <span class="checkmark"></span>
                            </label>
                            <label>
                                <input type="checkbox" name="genre" value="Prueba" />Prueba
                                <span class="checkmark"></span>
                            </label>
                            <label>
                                <input type="checkbox" name="genre" value="Indie" />Indie
                                <span class="checkmark"></span>
                            </label>
                            <label>
                                <input type="checkbox" name="genre" value="Pop" />Pop
                                <span class="checkmark"></span>
                            </label>
                            <label>
                                <input type="checkbox" name="genre" value="Classic" />Classic
                                <span class="checkmark"></span>
                            </label>
                            <label>
                                <input type="checkbox" name="genre" value="Flamenco" />Flamenco
                                <span class="checkmark"></span>
                            </label>
                        </div>

                        <button class="btn btn-primary" type="submit">Submit form</button>
                    </form>
                </section>

            </div>
            <!-- /content -->
        </div>
        <!-- /tabs -->
    </section>
</div>
